<ion-content class="fondo-pro" >

  <div style="width: 82%;margin: 0 auto">
  <div class="header-nav ion-margin-top">
    <ion-button fill="clear" class="btn-volver" (click)="volver()">
      <ion-icon slot="icon-only" style="font-size: 60px" name="arrow-back-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="contenedor-principal" style="margin-top: 40px">

    <div class="avatar-container">
      <ion-icon class="imgUsuario" name="skull-outline"></ion-icon>
    </div>
  <br>
    <h1 class="nombre-usuario" >Samuel Leyton Rojas</h1>
    <br>


    <div class="info-card">

      <div class="dato-item">
        <span class="etiqueta">DESCRIPCIÓN</span>
        <p class="valor">Deportista y extrovertido</p>

      </div>

      <div class="separador"></div>

      <div class="dato-item">
        <span class="etiqueta">AMIGOS</span>
        <p class="valor grande">0</p>
      </div>

    </div>

    <div class="boton-container">
      <button class="boton-pro">Editar Perfil</button>
    </div>

  </div>
  </div>
</ion-content>
