ion-item{
  margin: 3%;
  width: 100%;
}

ion-label{
  font-family: "Arial Black";
}

ion-input{
  color: gray;
  font-family: "Arial Black";
}

.contenedor-centrado{

  width: 100%;
  gap: 30px;
}

button{
  font-family: "Arial Black";
  height: 40px;
  width: 30%;
  border-radius: 5px;
}

from{
  width: 100%;
}
