.contenedor-centrado{
  color: white;
  font-family: "Arial Black";
  background-color: mediumpurple;
  width: 80%;
  border-radius: 15px;
  padding: 30px;
}


.imagen{
  margin-top: 13%;
  border-radius: 20px;
  width: 80%;
}

.boton{

  margin-top: 4%;
  font-family: "Arial Black";
  border-radius: 15px;
  width: 37%;
  height: 60px;
  background-color: mediumpurple;
  color: white;
  font-size: 19px;

}
