<ion-content>
  <div class="mensajes">
    <div *ngFor="let msg of mensajes">
      <p>{{ msg }}</p>
    </div>

    <div class="ion-display-flex ion-justify-content-center">
      <button class="ion-margin-bottom ion-margin-top">
        Acordar fecha
      </button>
    </div>
  </div>

  <!-- ion-datetime flotante para seleccionar fecha -->
  <ion-datetime>

  </ion-datetime>

  <ion-footer class="input-footer">
    <ion-item>
      <ion-input [(ngModel)]="texto" placeholder="Escribe un mensaje..."></ion-input>
      <ion-button (click)="enviar()">Enviar</ion-button>
    </ion-item>
  </ion-footer>
</ion-content>
