<nav class="navegacion ">
  <ion-grid>
    <ion-row class="ion-justify-content-between ion-align-items-center ion-flex-nowrap">
      <ion-col  size="auto">
        <button (click)="irDeVuelta()"><ion-icon color="light" class="tamanioImagen" name="arrow-back-circle-outline"></ion-icon></button>
      </ion-col>

      <ion-col size="auto">
        <ion-row class="ion-align-items-center ion-flex-nowrap">
        <ion-col class="ion-display-flex ion-justify-content-center ion-align-items-center">
          <button  (click)="irContactos()"><ion-icon color="light" class="tamanioImagen" name="arrow-redo-outline"></ion-icon></button>
        </ion-col>
        <ion-col>
          <button (click)="mostrarAlerta()"><ion-icon color="light" class="tamanioImagen" name="notifications-outline"></ion-icon>
          </button>
          <ion-alert
            [isOpen]="mostrar"
            header="Notificaciones"
            message="No hay nada por el momento"
            [buttons]="['Cancelar', 'Aceptar']"
            (didDismiss)="mostrar = false">
          </ion-alert>
        </ion-col>
        <ion-col>
          <button (click)="irMiCuenta()"><ion-icon color="light" class="tamanioImagen" name="person-circle-outline"></ion-icon></button>
        </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</nav>
