.navegacion {
  display: flex;
  align-items: center;
  height: 150px;
  padding: 0 16px;
  background-color: #313030;
}


.tamanioImagen{
  font-size: 53px;

}

ion-button{
  --background-color: #313030;
}
