
<div>

  <img src="../../../assets/img/logoPrincipal-removebg-preview.png" style="margin-top: 20%;margin-bottom: 5% ">

  <div class="ion-display-flex ion-justify-content-center ion-align-items-center " style="margin-bottom: 10%">
    <form style="width: 70%;margin-right: 5%">
      <!-- Primer campo -->
      <ion-item>
        <ion-label label="label" style="font-family: 'Arial Black'">Usuario</ion-label>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Ingrese Usuario"></ion-input>
      </ion-item>


      <!-- Segundo campo -->
      <ion-item>
        <ion-label label="label"  style="font-family: 'Arial Black'">Contraseña</ion-label>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Ingrese Contraseña"></ion-input>
      </ion-item>



      <!-- Tercer campo -->
      <ion-item>
        <ion-label label="label"  style="font-family: 'Arial Black'">Confirmar Contraseña</ion-label>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Ingrese Contraseña "></ion-input>
      </ion-item>


    </form>
  </div>



  <div class="contenedor-centrado ion-display-flex ion-justify-content-center ion-align-items-center">

    <button style="background-color: mediumpurple" (click)="irALinicio()" >Volver</button>

    <button style="background-color: #2d4665" (click)="irAComprar()">Confirmar</button>

  </div>
</div>


