<div class="ion-display-flex ion-flex-column ion-align-items-center">

  <div style="gap: 2rem; margin-top: 10%"
       class="tarjeta ion-display-flex ion-flex-column">

    <div class="alinear">
      <h3 style="margin: 0; margin-bottom: 0.5rem;">Nombre de la prenda:</h3>
      <ion-input
        type="text"
        placeholder="Nombre: "
        [(ngModel)]="nombrePrendaInput">
      </ion-input>
    </div>

    <div class="alinear">
      <h3 style="margin: 0; margin-bottom: 0.5rem;">URL de la imagen:</h3>
      <ion-input
        type="url"
        placeholder="https://ejemplo.com/imagen.jpg"
        [(ngModel)]="imagenUrl">
      </ion-input>

      <div *ngIf="imagenUrl" style="margin-top: 1rem; text-align: center;">
        <ion-img
          [src]="imagenUrl"
          style="width: 150px; height: 150px; object-fit: cover; border-radius: 10px; margin: 0 auto;">
        </ion-img>
      </div>
    </div>

    <div class="ion-display-flex ion-align-items-center ion-margin-start"
         style="justify-content: space-between; width: 100%; max-width: 400px;">
      <h5 style="margin: 0;">Elegir Talla:</h5>
      <ion-select [(ngModel)]="tallaSeleccionada"
                  interface="popover"
                  placeholder="Selecciona"
                  style="flex: 1; margin-left: 1rem;">
        <ion-select-option value="XS">XS</ion-select-option>
        <ion-select-option value="S">S</ion-select-option>
        <ion-select-option value="M">M</ion-select-option>
        <ion-select-option value="L">L</ion-select-option>
        <ion-select-option value="XL">XL</ion-select-option>
      </ion-select>
    </div>

    <div class="ion-display-flex ion-align-items-center ion-margin-start"
         style="justify-content: space-between; width: 100%; max-width: 400px;">
      <h4 style="margin: 0;">Tipo ropa:</h4>
      <ion-select [(ngModel)]="tipoRopaSeleccionada"
                  interface="popover"
                  placeholder="Selecciona"
                  style="flex: 1; margin-left: 1rem;">
        <ion-select-option value="CASUAL">Casual / Vintage</ion-select-option>
        <ion-select-option value="URBANO">Urbano / Moderno</ion-select-option>
        <ion-select-option value="DEPORTIVO">Deportivo</ion-select-option>
        <ion-select-option value="ELEGANTE">Elegante</ion-select-option>
        <ion-select-option value="FORMAL">Formal</ion-select-option>
      </ion-select>
    </div>
  </div>

  <div style="width: 100%; gap: 1rem;"
       class="ion-display-flex ion-flex-column ion-align-items-center ion-margin-top">

    <button class="boton" (click)="subirRopa()">
      Subir Prenda
    </button>

    <button class="boton" style="background-color: #666;" (click)="volver()">
      Volver
    </button>
  </div>

</div>
