.tarjeta{
  font-family: "Arial Black";
  border-radius: 10px;
  background-color: rgba(131, 80, 242, 1);
  width: 80%;
  color: white;
  padding: 9%;
}

.alinear{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.img{
  font-size: 100px;

}

.boton{
  margin-top: 4%;
  font-family: "Arial Black";
  border-radius: 15px;
  width: 80%;
  height: 60px;
  background-color: rgba(131, 80, 242, 1);
  color: white;
  font-size: 25px;

}
