
<ion-content  class="colorNegro ion-display-flex ion-justify-content-center" >
  <img src="../../../assets/img/logoPrincipal-removebg-preview.png" style="margin-top: 30%;margin-bottom: 10% ">


  <div class="ion-display-flex ion-justify-content-center ion-align-items-center">
    <button style="margin-top: 13%" class="boton-usuario"  (click)="irALogin()">
      <img src="../../../assets/img/userBoton.png" class="icono-boton">
      Iniciar Sesión
    </button>
  </div>


  <div class="ion-display-flex ion-justify-content-center ion-align-items-center">
    <button class="boton-usuario " (click)="irAlRegistro()">
      <img src="../../../assets/img/userBoton.png" class="icono-boton">
      Registrarse
    </button>
  </div>

</ion-content>
