<div style="width: 100%">
  <div style="margin: 10%" class="ion-display-flex ">

      <button (click)="volver()"><ion-icon class="flecha" color="dark" name="arrow-back-outline"></ion-icon></button>


  </div>


  <div class="ion-display-flex ion-justify-content-center">
    <h1 style="font-family: 'Arial Black'" class="ion-margin-start">Samuel Leyton Rojas</h1>
  </div>

  <div style="margin: 12%" class="ion-display-flex ion-flex-column ">

    <div (click)="irIntercambio()"  class="ion-display-flex ion-justify-content-between ion-margin"> <h3>Usuario( intercambio )</h3> <button style=""><ion-icon class="borrarIcono" color="dark"  name="close-circle-outline"></ion-icon></button></div>
    <div (click)="irPrestamo()"  class="ion-display-flex ion-justify-content-between ion-margin"> <h3>Usuario ( prestamo )</h3> <button style=""><ion-icon class="borrarIcono" color="dark"  name="close-circle-outline"></ion-icon></button></div>
    <div  class="ion-display-flex ion-justify-content-between ion-margin"> <h3>Usuario</h3> <button style=""><ion-icon class="borrarIcono" color="dark"  name="close-circle-outline"></ion-icon></button></div>
    <div  class="ion-display-flex ion-justify-content-between ion-margin"> <h3>Usuario</h3> <button style=""><ion-icon class="borrarIcono" color="dark"  name="close-circle-outline"></ion-icon></button></div>
    <div  class="ion-display-flex ion-justify-content-between ion-margin"> <h3>Usuario</h3> <button style=""><ion-icon class="borrarIcono" color="dark"  name="close-circle-outline"></ion-icon></button></div>

  </div>
</div>
