.contenedor-centrado{
  margin-top: 10%;
  width: 80%;
  border-bottom: 1px solid black;
  padding: 10px;
}

.contenedorDentro{
  margin-top: 9%;
  border-bottom: 1px solid black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.imagen{

  width: 18%;
  height: 18%;
  object-fit: cover;
  border-radius: 48%;
}

.imagenCorazon{

  font-size: 45px;

}

h5{

  font-family: "Arial Black";

}
