<ion-content>
  <app-menu-navegacion>

  </app-menu-navegacion>


  <div class="ion-display-flex ion-justify-content-center">
    <div class="contenedor-centrado">

      <app-buscar-usuarios imagenUsuario="assets/img/denji.jpg" nombreUsuario="Samuel Leyton Rojas">

      </app-buscar-usuarios>

      <app-buscar-usuarios nombreUsuario="Pepito Pérez ">

      </app-buscar-usuarios>

      <app-buscar-usuarios nombreUsuario="Manolito">

      </app-buscar-usuarios>

      <app-buscar-usuarios nombreUsuario="Manolito ">

      </app-buscar-usuarios>

      <app-buscar-usuarios nombreUsuario="Manolito ">

      </app-buscar-usuarios>

      <app-buscar-usuarios nombreUsuario="Manolito ">

      </app-buscar-usuarios>

      <app-buscar-usuarios nombreUsuario="Manolito ">

      </app-buscar-usuarios>

      <app-buscar-usuarios nombreUsuario="Manolito ">

      </app-buscar-usuarios>







    </div>
  </div>

</ion-content>

<footer>
  <app-botones-navegacion>

  </app-botones-navegacion>
</footer>
