
  <div class="contenedor-centrado">
    <div class="botones-container">
      <button class="botonesNavegacion" (click)="irComprar()"><ion-icon class="tamanioImagenIcono" name="cart-outline"></ion-icon></button>
      <button class="botonesNavegacion" (click)="irConocerGente()"><ion-icon class="tamanioImagenIcono" name="person-add-outline"></ion-icon>
      </button>
      <button class="botonesNavegacion" (click)="irMisPrendas()"><ion-icon class="tamanioImagenIcono" name="duplicate-outline"></ion-icon>
      </button>
    </div>
  </div>

